# OS
.DS_Store
Thumbs.db

# Office temp files
~$*.docx
~$*.xlsx
~$*.pptx
*.tmp

# Python
__pycache__/
*.pyc
.venv/

# Editor
.vscode/
.idea/
*.swp

# Draft / working files
drafts/
*.bak

# Ignored specific files
etude gendarmerie.pdf
S1-ISI5_IA_et_Cybersecurite v5.docx

# Text files
*.txt
